<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Betreuer Hinzufügen</title>
</head>
<body>

<form th:action="@{/betreuer/add}" method="post" th:object="${betreuer}">
  <div>
    <label for="name">Name</label><br/>
    <input id="name" type="text" th:field="*{name}" />
  </div>

  <div>
    <label for="githubID">GitHub-ID</label><br/>
    <input id="githubID" type="text" th:field="*{githubID}" />
  </div>

  <div>
    <label for="email">E-Mail</label><br/>
    <input id="email" type="email" th:field="*{email}" />
  </div>

  <fieldset>
    <legend>Tags</legend>

    <div><input type="text" th:field="*{tags}" placeholder="z.B. Java"/></div>
    <div><input type="text" th:field="*{tags}" placeholder="z.B. Spring"/></div>
    <div><input type="text" th:field="*{tags}" placeholder="z.B. Datenbanken"/></div>
  </fieldset>

  <div style="margin-top: 12px;">
    <button type="submit">Speichern</button>
  </div>
  
</form>
<br>

<a th:href="@{/}">Zurück zur Startseite</a>

<div th:if="${errorMessage}"
     th:text="${errorMessage}"
     class="error">
</div>

</body>
</html>